n8n-flow.json
{
    "name": "My workflow",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "pulpo/twilio/wa/inbound",
          "responseMode": "responseNode",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          -720,
          1180
        ],
        "id": "0ab75509-5ee0-4c79-8318-db746e593abe",
        "name": "Webhook",
        "webhookId": "5228f69f-a129-4f25-9887-d9c8428d5b76"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "71bdfa39-0e6e-440a-938f-de68ab899e2f",
                "name": "user_phone",
                "value": "={{($json.body?.WaId || $json.WaId || ($json.body?.From || '').split(':').pop()).replace('+','').replace(/\\\\D/g,'')}}",
                "type": "string"
              },
              {
                "id": "27a05d6b-e880-45f4-a8fe-800005eefc66",
                "name": "text",
                "value": "={{$json.body?.Body || $json.Body || ''}}",
                "type": "string"
              },
              {
                "id": "ce1694f4-8e05-4541-9617-a5f8a83abffd",
                "name": "wamid",
                "value": "={{$json.body?.SmsSid || $json.SmsSid || 'SM_FALLBACK'}}",
                "type": "string"
              },
              {
                "id": "a8ac0158-0251-4236-b29c-db1150a8dff4",
                "name": "to_phone",
                "value": "={{(($json.body?.To || $json.To) || '').split(':').pop().replace('+','').replace(/\\\\D/g,'')}}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -500,
          1020
        ],
        "id": "19cba737-f523-4beb-8d75-dfe1bd1cdc5d",
        "name": "Normalize"
      },
      {
        "parameters": {
          "respondWith": "allIncomingItems",
          "options": {
            "responseCode": 200,
            "responseHeaders": {
              "entries": [
                {
                  "name": "message",
                  "value": "Webhook recibido en Pulpo"
                }
              ]
            }
          }
        },
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.1,
        "position": [
          -500,
          1360
        ],
        "id": "bd623df5-3d5c-44df-9262-50b1f54c8e26",
        "name": "Respond to Webhook"
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "WITH input AS (\n  SELECT regexp_replace($1, '\\D', '', 'g')::text AS to_phone_digits\n)\nSELECT\n  c.id          AS channel_id,\n  c.workspace_id AS ws_id,\n  c.display_phone\nFROM pulpo.channels c, input i\nWHERE regexp_replace(c.display_phone, '\\D', '', 'g') = i.to_phone_digits\nLIMIT 1;",
          "options": {
            "queryReplacement": "={{ $json.to_phone }}"
          }
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          -280,
          1180
        ],
        "id": "27ea6625-b8b1-4902-81a0-cbe29cab864c",
        "name": "Postgres",
        "credentials": {
          "postgres": {
            "id": "DSNTLqcc7IBYwhPO",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "ea91ff60-8736-4dfc-b68b-ca6b91099461",
                "name": "ws_id",
                "value": "= {{ $json.ws_id }}",
                "type": "string"
              },
              {
                "id": "2bcf2d79-8d6b-4583-8b82-65923e2c392c",
                "name": "channel_id",
                "value": "={{ $json.channel_id }}",
                "type": "string"
              },
              {
                "id": "39dbd11d-2228-43e7-95ca-7c4e0faf4522",
                "name": "to_phone",
                "value": "={{ $json.display_phone }}",
                "type": "string"
              },
              {
                "id": "f0e7effd-25dc-4831-aae3-7a797db72f2d",
                "name": "user_phone",
                "value": "={{ $('Normalize').item.json.user_phone }}",
                "type": "string"
              },
              {
                "id": "18975c2d-1979-4a31-9acd-3dbdf4beead7",
                "name": "text",
                "value": "={{ $('Normalize').item.json.text }}",
                "type": "string"
              },
              {
                "id": "0a5a0272-90a8-4ace-9472-db4bdeffc665",
                "name": "wamid",
                "value": "={{ $('Normalize').item.json.wamid }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -60,
          1020
        ],
        "id": "d265d9bd-49d3-4502-8ef2-be2b397ce0aa",
        "name": "Set - Enrich"
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT * \nFROM pulpo.persist_inbound(\n  $1::uuid,  -- ws_id\n  $2::uuid,  -- channel_id\n  $3::text,  -- user_phone (digits)\n  $4::text,  -- wamid\n  $5::text   -- text\n);",
          "options": {
            "queryReplacement": "={{ $json.ws_id }},{{ $json.channel_id }},{{ $json.user_phone }},{{ $json.wamid }},{{ $json.text }}"
          }
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          180,
          880
        ],
        "id": "01be55c4-d46a-4b54-8a8e-18693869bf37",
        "name": "Nodo Postgres – Persist inbound",
        "credentials": {
          "postgres": {
            "id": "DSNTLqcc7IBYwhPO",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT jsonb_build_object(\n  'ws_id', w.id,\n  'channel_id', c.id,\n  'plan_tier', w.plan_tier,\n  'vertical', w.vertical,\n  'vis', w.settings_json->'vis_settings'\n) AS cfg\nFROM pulpo.workspaces w\nJOIN pulpo.channels c ON c.id=$2::uuid AND c.workspace_id=w.id\nWHERE w.id=$1::uuid;",
          "options": {
            "queryReplacement": "={{ $json.ws_id }},{{ $json.channel_id }}"
          }
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          180,
          1180
        ],
        "id": "7b772ae8-26cb-4abd-a4f9-1fcdaf60bdd6",
        "name": "Get Plan,Vertical & Settings",
        "credentials": {
          "postgres": {
            "id": "DSNTLqcc7IBYwhPO",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "leftValue": "agent-basic",
                      "rightValue": "={{ $json.root.plan_tier }}",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      },
                      "id": "0cb87a7d-5aab-476c-b828-146d2277ffb0"
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "=agent-basic"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "c77b9913-19f1-436b-826f-5d7e80a24021",
                      "leftValue": "agent-pro",
                      "rightValue": "={{ $json.root.plan_tier }}",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "=agent-pro"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "a50e81cb-a5b4-4e9c-bd2f-35233f52dba7",
                      "leftValue": "agent-custom",
                      "rightValue": "={{ $json.root.plan_tier }}",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "agent-custom"
              }
            ]
          },
          "options": {
            "allMatchingOutputs": false
          }
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.2,
        "position": [
          720,
          1380
        ],
        "id": "5db5f03b-79d0-4511-868a-63a02b32f8e5",
        "name": "Switch Plans",
        "alwaysOutputData": false,
        "notesInFlow": true,
        "notes": "Valores de los planes:\nbasic\nrag\nagent\n\nes importante que el campo plan_tier de la base este con alguno de estos valore"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "e6d9e2e0-72fb-4cd1-b179-6077fba4b94d",
                "name": "root.ws_id",
                "value": "={{ $json.cfg.ws_id }}",
                "type": "string"
              },
              {
                "id": "497c69bd-1e94-48bc-ab6b-aa1021fcbafb",
                "name": "root.channel_id",
                "value": "={{ $('Set - Enrich').item.json.channel_id }}",
                "type": "string"
              },
              {
                "id": "d754b517-bb3b-4619-8dfc-058366652a15",
                "name": "root.user_phone",
                "value": "={{ $('Set - Enrich').item.json.user_phone }}",
                "type": "string"
              },
              {
                "id": "71065ca9-cdf5-4ee9-b862-5430bea1516b",
                "name": "root.to_phone",
                "value": "={{ $('Set - Enrich').item.json.to_phone }}",
                "type": "string"
              },
              {
                "id": "cbf306c9-4d9e-4016-903c-f970e449ec30",
                "name": "root.plan_tier",
                "value": "={{ $json.cfg.plan_tier }}",
                "type": "string"
              },
              {
                "id": "c906640d-c8e4-4c2a-97db-54dda416d047",
                "name": "root.vertical",
                "value": "={{ $json.cfg.vis.vertical }}",
                "type": "string"
              },
              {
                "id": "780e88a0-a051-4253-ae8e-472ebe4f74f1",
                "name": "root.biz_settings",
                "value": "={{ $json.cfg.vis }}",
                "type": "object"
              },
              {
                "id": "1d5040f0-ea30-456b-8bca-ef14648f25d6",
                "name": "root.text",
                "value": "={{ $('Set - Enrich').item.json.text }}",
                "type": "string"
              },
              {
                "id": "d193d2dd-d2d0-4e04-8b13-c5a3ca939112",
                "name": "root.model",
                "value": "={{\"qwen2.5\"}}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          440,
          1380
        ],
        "id": "ee5297f8-a45f-4356-8ed5-393baf386b69",
        "name": "root"
      },
      {
        "parameters": {
          "content": "{\n  \"basic\": {\n    \"name\": \"string\", \"vertical\": \"gastronomia\", \"address\": \"string?\", \"alt_phone\": \"string?\",\n    \"hours\": \"string?\", \"payments\": [\"debito\",\"credito\",\"efectivo\",\"qr\"], \"shipping\": \"string?\",\n    \"promos\": \"string?\", \"faqs\": [\"reservas\",\"delivery\",\"envios\",\"devoluciones\",\"menu\",\"ubicacion\"],\n    \"tone\": \"formal|neutral|cercano|juvenil\", \"locales\": [\"es\",\"en\"], \"fallback\": \"Te confirmo enseguida.\"\n  },\n  \"gastro\": {\n    \"reservation_policy\": \"manual\", \"reservation_hours\": \"Lun-Dom 12:00-00:00\",\n    \"delivery_hours\": \"Lun-Dom 12:00-23:00\", \"delivery_zones\": \"CABA+GBA\",\n    \"pickup_address\": \"string?\", \"max_party_size\": 12, \"lead_time_minutes\": 15,\n    \"menu_link\": \"https://…\", \"whatsapp_handoff_tag\": \"RESERVA|DELIVERY\"\n  }\n}",
          "height": 340,
          "width": 620,
          "color": 5
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          0,
          0
        ],
        "id": "6ae97446-c060-42d1-90b2-ec54d1a49a94",
        "name": "Sticky Note"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "http://worker:8000/rag/search",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "X-Workspace-Id \t",
                "value": "={{$json.root.ws_id}}"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "{ \"top_k\": 5, \"vector_mode\": \"unit\" }",
          "options": {
            "timeout": 60000
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4,
        "name": "RAG Search (worker)",
        "position": [
          620,
          1680
        ],
        "id": "d4823234-d8c8-403c-af9f-5965488fac23"
      }
    ],
    "pinData": {},
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "Normalize",
              "type": "main",
              "index": 0
            },
            {
              "node": "Respond to Webhook",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Postgres": {
        "main": [
          [
            {
              "node": "Set - Enrich",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Normalize": {
        "main": [
          [
            {
              "node": "Postgres",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set - Enrich": {
        "main": [
          [
            {
              "node": "Get Plan,Vertical & Settings",
              "type": "main",
              "index": 0
            },
            {
              "node": "Nodo Postgres – Persist inbound",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Plan,Vertical & Settings": {
        "main": [
          [
            {
              "node": "root",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Switch Plans": {
        "main": [
          []
        ]
      },
      "root": {
        "main": [
          [
            {
              "node": "Switch Plans",
              "type": "main",
              "index": 0
            },
            {
              "node": "RAG Search (worker)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "active": true,
    "settings": {
      "executionOrder": "v1"
    },
    "versionId": "5845b95c-4ccb-420d-b69e-8417e5f0ea44",
    "meta": {
      "templateCredsSetupCompleted": true,
      "instanceId": "c5137163dede0793e8d659a65edf8032f7536e076c76d9e80946c18f98605393"
    },
    "id": "MvNmHlECLci0AzUW",
    "tags": []
  }