n8n/n8n-workflow-f08-fixed.json
{
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:8005/orchestrator/decide",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"conversation_id\": \"{{ $('Parse Intent').item.json.conversation_id }}\",\n  \"vertical\": \"{{ $('Parse Intent').item.json.vertical }}\",\n  \"user_input\": \"{{ $('Parse Intent').item.json.user_text }}\",\n  \"greeted\": false,\n  \"slots\": {},\n  \"objective\": \"\",\n  \"last_action\": null,\n  \"attempts_count\": 0\n}",
        "options": {
          "headers": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "X-Workspace-Id",
                "value": "{{ $('Prepare Context').item.json.workspace_id }}"
              },
              {
                "name": "X-Request-Id",
                "value": "{{ $('Prepare Context').item.json.message_id }}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1940,
        2200
      ],
      "id": "92ca8d0a-cd43-4def-ae0a-664683a626d3",
      "name": "Generate Response"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:8005/orchestrator/decide",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"conversation_id\": \"{{ $('Prepare Context').item.json.conversation_id }}\",\n  \"vertical\": \"{{ $('Prepare Context').item.json.vertical }}\",\n  \"user_input\": \"{{ $('Prepare Context').item.json.user_text }}\",\n  \"greeted\": false,\n  \"slots\": {},\n  \"objective\": \"\",\n  \"last_action\": null,\n  \"attempts_count\": 0\n}",
        "options": {
          "headers": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "X-Workspace-Id",
                "value": "{{ $('Prepare Context').item.json.workspace_id }}"
              },
              {
                "name": "X-Request-Id",
                "value": "{{ $('Prepare Context').item.json.message_id }}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -3520,
        2180
      ],
      "id": "7334cd2e-846d-4be5-86b1-cbc217305c34",
      "name": "Intent Router"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "has-tool-calls",
              "leftValue": "={{ $json.tool_calls && $json.tool_calls.length > 0 }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -1700,
        2200
      ],
      "id": "check-tool-calls",
      "name": "Check Tool Calls"
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -1500,
        2200
      ],
      "id": "split-tool-calls",
      "name": "Split Tool Calls"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:8006/actions/execute",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"name\": \"{{ $json.name }}\",\n  \"args\": {{ JSON.stringify($json.arguments) }},\n  \"conversation_id\": \"{{ $('Parse Intent').item.json.conversation_id }}\",\n  \"workspace_id\": \"{{ $('Parse Intent').item.json.workspace_id }}\",\n  \"request_id\": \"{{ $('Parse Intent').item.json.message_id }}-{{ $json.name }}\"\n}",
        "options": {
          "headers": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "X-Workspace-Id",
                "value": "{{ $('Parse Intent').item.json.workspace_id }}"
              },
              {
                "name": "X-Request-Id",
                "value": "{{ $('Parse Intent').item.json.message_id }}-{{ $json.name }}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1300,
        2200
      ],
      "id": "execute-action",
      "name": "Execute Action"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT pulpo.persist_outbound($1, $2, $3, 'text', 'actions', $4) AS message_id;",
        "options": {
          "queryReplacement": "={{ $('Parse Intent').item.json.workspace_id }}, {{ $('Parse Intent').item.json.conversation_id }}, {{ $json.message }}, {{ JSON.stringify({action: $('Split Tool Calls').item.json.name, result: $json.data}) }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -1100,
        2200
      ],
      "id": "persist-action-result",
      "name": "Persist Action Result",
      "credentials": {
        "postgres": {
          "id": "OyTVDgOjUgBqsKS6",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "response_text",
              "name": "response_text",
              "value": "={{ $json.message || 'Acción ejecutada correctamente' }}",
              "type": "string"
            },
            {
              "id": "response_type",
              "name": "response_type",
              "value": "action_result",
              "type": "string"
            },
            {
              "id": "action_data",
              "name": "action_data",
              "value": "={{ $json.data }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -900,
        2200
      ],
      "id": "prepare-action-response",
      "name": "Prepare Action Response"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "response_text",
              "name": "response_text",
              "value": "={{ $json.assistant || 'Error generando respuesta' }}",
              "type": "string"
            },
            {
              "id": "response_type",
              "name": "response_type",
              "value": "={{ $json.next_action || 'ai_response' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1760,
        2200
      ],
      "id": "prepare-response",
      "name": "Prepare Response"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "message",
                "value": "Mensaje procesado exitosamente"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -840,
        2200
      ],
      "id": "final-response",
      "name": "Final Response"
    },
    {
      "parameters": {
        "url": "https://api.twilio.com/2010-04-01/Accounts/{{ $vars.TWILIO_ACCOUNT_SID }}/Messages.json",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "twilioApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/x-www-form-urlencoded"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "To",
              "value": "whatsapp:{{ $('Normalize Input').item.json.user_phone }}"
            },
            {
              "name": "From",
              "value": "whatsapp:{{ $('Resolve Channel').item.json.display_phone }}"
            },
            {
              "name": "Body",
              "value": "={{ $('Prepare Response').item.json.response_text }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1060,
        2200
      ],
      "id": "send-twilio",
      "name": "Send Twilio",
      "credentials": {
        "twilioApi": {
          "id": "HlvtDJ92Rxni5at5",
          "name": "Twilio account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT pulpo.update_conversation_flow($1, $2, 'completed', $3) AS flow_update;",
        "options": {
          "queryReplacement": "={{ $('Parse Intent').item.json.workspace_id }}, {{ $('Parse Intent').item.json.conversation_id }}, {{ JSON.stringify({intent: $('Parse Intent').item.json.intent, response_type: $('Prepare Response').item.json.response_type}) }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -1280,
        2200
      ],
      "id": "update-flow",
      "name": "Update Flow",
      "credentials": {
        "postgres": {
          "id": "OyTVDgOjUgBqsKS6",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT pulpo.persist_outbound($1, $2, $3, 'text', 'orchestrator', $4) AS message_id;",
        "options": {
          "queryReplacement": "={{ $('Parse Intent').item.json.workspace_id }}, {{ $('Parse Intent').item.json.conversation_id }}, {{ $json.assistant }}, {{ JSON.stringify({type: $json.next_action, intent: $('Parse Intent').item.json.intent, confidence: $('Parse Intent').item.json.confidence}) }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -1480,
        2200
      ],
      "id": "persist-response",
      "name": "Persist Response",
      "credentials": {
        "postgres": {
          "id": "OyTVDgOjUgBqsKS6",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parsear respuesta del Orchestrator Service\nconst orchestratorResponse = $input.first().json;\n\n// Extraer datos del contexto\nconst contextData = $('Prepare Context').item.json;\n\n// Construir respuesta unificada\nreturn {\n  // Datos del orchestrator\n  assistant: orchestratorResponse.assistant || '',\n  next_action: orchestratorResponse.next_action || 'answer',\n  tool_calls: orchestratorResponse.tool_calls || [],\n  slots: orchestratorResponse.slots || {},\n  objective: orchestratorResponse.objective || '',\n  end: orchestratorResponse.end || false,\n  \n  // Datos del contexto\n  workspace_id: contextData.workspace_id,\n  conversation_id: contextData.conversation_id,\n  message_id: contextData.message_id,\n  vertical: contextData.vertical,\n  user_text: contextData.user_text,\n  \n  // Para compatibilidad con el flujo existente\n  intent: 'orchestrator_response',\n  confidence: 1.0,\n  requires_handoff: orchestratorResponse.next_action === 'handoff'\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3340,
        2180
      ],
      "id": "parse-intent",
      "name": "Parse Intent"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT pulpo.get_vertical_pack_config($1, $2) AS pack_config;",
        "options": {
          "queryReplacement": "={{ $json.workspace_id }}, {{ $json.vertical }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -3680,
        2180
      ],
      "id": "get-vertical-pack",
      "name": "Get Vertical Pack",
      "credentials": {
        "postgres": {
          "id": "OyTVDgOjUgBqsKS6",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "workspace_id",
              "name": "workspace_id",
              "value": "={{ $('Get Workspace Config').item.json.result[0] }}",
              "type": "string"
            },
            {
              "id": "conversation_id",
              "name": "conversation_id",
              "value": "={{ $('Persist Inbound').item.json.result[0].conversation_id }}",
              "type": "string"
            },
            {
              "id": "message_id",
              "name": "message_id",
              "value": "={{ $('Persist Inbound').item.json.result[0].message_id }}",
              "type": "string"
            },
            {
              "id": "vertical",
              "name": "vertical",
              "value": "={{ $('Get Workspace Config').item.json.result[0].vertical }}",
              "type": "string"
            },
            {
              "id": "user_text",
              "name": "user_text",
              "value": "={{ $('Normalize Input').item.json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3880,
        2360
      ],
      "id": "prepare-context",
      "name": "Prepare Context"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT pulpo.get_plan_vertical_settings($1, $2) AS result;",
        "options": {
          "queryReplacement": "={{ $('Resolve Channel').item.json.ws_id }}, {{ $('Resolve Channel').item.json.channel_id }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -4080,
        2360
      ],
      "id": "get-workspace-config",
      "name": "Get Workspace Config",
      "credentials": {
        "postgres": {
          "id": "OyTVDgOjUgBqsKS6",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT pulpo.persist_inbound($1, $2, $3, $4, $5) AS result;",
        "options": {
          "queryReplacement": "={{ $('Resolve Channel').item.json.ws_id }}, {{ $('Resolve Channel').item.json.channel_id }}, {{ $('Normalize Input').item.json.user_phone }}, {{ $('Normalize Input').item.json.wamid }}, {{ $('Normalize Input').item.json.text }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -4280,
        2360
      ],
      "id": "persist-inbound",
      "name": "Persist Inbound",
      "credentials": {
        "postgres": {
          "id": "OyTVDgOjUgBqsKS6",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "channel-found",
              "leftValue": "={{ $('Webhook Inbound').item.json.body.Body }}",
              "rightValue": 1,
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -4480,
        2460
      ],
      "id": "check-channel",
      "name": "Check Channel"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH input AS (\n  SELECT regexp_replace($1, '\\D', '', 'g')::text AS to_phone_digits\n)\nSELECT\n  c.id          AS channel_id,\n  c.workspace_id AS ws_id,\n  c.display_phone\nFROM pulpo.channels c, input i\nWHERE regexp_replace(c.display_phone, '\\D', '', 'g') = i.to_phone_digits\nLIMIT 1;",
        "options": {
          "queryReplacement": "={{ $json.to_phone }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -4680,
        2460
      ],
      "id": "resolve-channel",
      "name": "Resolve Channel",
      "credentials": {
        "postgres": {
          "id": "OyTVDgOjUgBqsKS6",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "user_phone",
              "name": "user_phone",
              "value": "={{($json.body?.WaId || $json.WaId || ($json.body?.From || '').split(':').pop()).replace('+','').replace(/\\D/g,'')}}",
              "type": "string"
            },
            {
              "id": "text",
              "name": "text",
              "value": "={{$json.body?.Body || $json.Body || ''}}",
              "type": "string"
            },
            {
              "id": "wamid",
              "name": "wamid",
              "value": "={{$json.body?.SmsSid || $json.SmsSid || 'SM_FALLBACK'}}",
              "type": "string"
            },
            {
              "id": "to_phone",
              "name": "to_phone",
              "value": "={{(($json.body?.To || $json.To) || '').split(':').pop().replace('+','').replace(/\\D/g,'')}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -4880,
        2460
      ],
      "id": "normalize-input",
      "name": "Normalize Input"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "pulpo/twilio/wa/inbound",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -5080,
        2460
      ],
      "id": "webhook-inbound",
      "name": "Webhook Inbound",
      "webhookId": "8353a880-638a-4f96-9028-6ba375f8f3d3"
    }
  ],
  "connections": {
    "Generate Response": {
      "main": [
        [
          {
            "node": "Check Tool Calls",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Tool Calls": {
      "main": [
        [
          {
            "node": "Split Tool Calls",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Tool Calls": {
      "main": [
        [
          {
            "node": "Execute Action",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Final Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Action": {
      "main": [
        [
          {
            "node": "Persist Action Result",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Split Tool Calls",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Persist Action Result": {
      "main": [
        [
          {
            "node": "Prepare Action Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Action Response": {
      "main": [
        [
          {
            "node": "Send Twilio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Response": {
      "main": [
        [
          {
            "node": "Persist Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Persist Response": {
      "main": [
        [
          {
            "node": "Update Flow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Flow": {
      "main": [
        [
          {
            "node": "Send Twilio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Twilio": {
      "main": [
        [
          {
            "node": "Final Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Action Response": {
      "main": [
        [
          {
            "node": "Send Twilio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Intent Router": {
      "main": [
        [
          {
            "node": "Parse Intent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Intent": {
      "main": [
        [
          {
            "node": "Generate Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Vertical Pack": {
      "main": [
        [
          {
            "node": "Intent Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Context": {
      "main": [
        [
          {
            "node": "Get Vertical Pack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Workspace Config": {
      "main": [
        [
          {
            "node": "Prepare Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Persist Inbound": {
      "main": [
        [
          {
            "node": "Get Workspace Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Channel": {
      "main": [
        [
          {
            "node": "Persist Inbound",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resolve Channel": {
      "main": [
        [
          {
            "node": "Check Channel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Input": {
      "main": [
        [
          {
            "node": "Resolve Channel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Inbound": {
      "main": [
        [
          {
            "node": "Normalize Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "29c8c096a9ab6d0837e1a4d415528a8bd401b99a6b36911436ee62ba3fbed3a0"
  }
}
